@import url("https://fonts.googleapis.com/css2?family=Abyssinica+SIL&family=Jost:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&family=Roboto+Slab:wght@100;200;300;400;500;600;700&display=swap");

.contact {
  display: flex;
  justify-content: center;
  gap: 8rem;
  padding-bottom: 4rem;
  flex-wrap: wrap;
  padding-top: 5rem;
  z-index: -1111;
}
.contact-left-flex {
  padding: 5px 120px;
  box-shadow: rgba(14, 90, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  background-color: #e7e7e7;
  border-radius: 14px;
}
.contact-left-flex h3 {
  font: normal normal bold 33px/1 "Jost";
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.input-div {
  margin-bottom: 1.5rem;
}
.enquiry-form label {
  font: normal bold 20px/1 "Jost";
  margin-bottom: 20px;
}
.input-div input {
  padding: 16px 10px;
  border: none;
  outline: none;
  width: 400px;
}
.enquiry-desc {
  height: 120px;
}
::placeholder {
  font: normal normal 15px/1 "Jost";
}
.submit-btn {
  display: flex;
  justify-content: center;
  padding: 15px;
  margin-bottom: 2rem;
}
.submit-btn button {
  border: none;
  outline: none;
  padding: 15px 55px;
  background-color: #001e3c;
  color: white;
  font: normal 18px/1 "Jost";
  letter-spacing: 1px;
}
.contact-right-flex {
  display: flex;
  align-items: center;
}
.contact-right-flex h3 {
  font: normal normal bold 35px/1 "Jost";
  letter-spacing: 0.5px;
  margin-bottom: 50px;
}
.contact-right-flex h4 {
  font: normal normal bold 30px/1 "Jost";
  margin-bottom: 20px;
}
.contact-right-flex p {
  font: normal normal 25px/1 "Jost";
}
.contact-section {
  margin-bottom: 3rem;
}

@media only screen and (max-width: 1060px) {
  .contact-map iframe {
    width: 100%;
  }
  .contact {
    gap: 4rem;
    height: auto;
    padding-top: 0;
    flex-wrap: wrap;
  }
  .contact-left-flex {
    padding: 10px 60px;
  }
  .input-div input {
    width: 100%;
    padding: a;
  }
  .enquiry-form label {
    font: normal bold 20px/1 "Jost";
  }
  .contact h3 {
    font: normal normal bold 27px/1 "Jost";
  }
  .contact h4 {
    font: normal normal bold 20px/1 "Jost";
  }
  .contact p {
    font: normal normal 16px/25px "Jost";
  }
  .contact-right-flex {
    text-align: center;
  }
}
